.border{
    border: 2px solid black;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-centre{
    justify-content: center;
    
}
.items-centre{
    align-items: center;
}
.bg-black{
    
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.white{
    color: white;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px; /* Adjust the border-radius value for more or less rounding */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Handle on drag */
::-webkit-scrollbar-thumb:active {
    background-color: #777;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #666;
}

/* Corner */
::-webkit-scrollbar-corner {
    background-color: #333;
}
